{% extends 'base.html' %}
{% load staticfiles %}
{%block content %}
<br>
<center>
<div class="one half">
  <h1>SISTEMA DE SEGUIMIENTO DE PROYECTOS</h1>
  <h3>Que es?</h3>
  <h3>Sistema de seguimiento de proyectos</h3>
</div>
</center>
<div class="one half">
  <h3>Que es?</h3>
  <p>Es un sistema que facilitara el buscar proyectos de empresas para estudiantes que quieran realizar su residencia profesional, las empresas que tienen proyectos podran anunciarlos en esta pagina</p>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a>
</div>
<div class="one half">   
  <h3>en que empresas puedo realizar la residencia profesional</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>se encuantran empresas que se hayan registrado en la pagina.</p>
      
    </div>
    <div class="col-sm-4"> 
      <p></p>
      
    </div>
    <div class="col-sm-4"> 
      <p>.</p>
     
    </div>
  </div>
</div>

</body>
</html>
{% endblock %}