{% extends 'base.html' %}
{% load staticfiles %}
{%block content %}
<br>
<center>
  <h1>SISTEMA DE SEGUIMIENTO DE PROYECTOS</h1>
<div class="one centered mobile seventh">
  <h3>Que es SSP?</h3>
  <h3>Sistema de seguimiento de proyectos</h3>
</div>
</center><br><br>
<!--
    <div class="one fourth">   
      <b>
      <h3>En que empresas puedo realizar la residencia profesional</h3><br>
      <div class="row">
        <div class="col-sm-4">
          <p>Se encuantran empresas que se hayan registrado en la pagina.</p>
          
        </div>
        <div class="col-sm-4"> 
          <p></p>
          
        </div>
        <div class="col-sm-4"> 
          <p>.</p>
         
        </div>
      </div>
    </b>
    </div>
-->
<div class="equalize row">
  <div class="one third padded">
    <h1>Que es SSP</h1>
    <p>Es un sistema que facilitara el buscar proyectos de empresas para estudiantes que quieran realizar su residencia profesional, las empresas que tienen proyectos podran anunciarlos en esta pagina.</p>
  </div>
  <div class="one third padded">
    <h1>Puedo realizar Residencia Profesional</h1>
    <p>Este sistema permite tanto alos estudiantes de encontrar posibles lugares de residencia para realizar diversos proyectos, siempre y cuando se encuentren empresas registradas en el sistema</p>
  </div>
  <div class="one third padded">
    <h1>Encuentra un proyecto adecuado a ti</h1>
    <p>SSP perimite al usuario encontrar proyectos de acuerdo a alas habilidades de que el usuario posea, facilitando el poder empezar a desarrollarse en el campo laboral</p>
  </div>
</div>
</body>
</html>
{% endblock %}